:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #cccccc;
  --tertiary-text-color: #111111;
  --quaternary-text-color: #555555;
  --quinary-text-color: #777777;
  --senary-text-color: #999999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: #000000;
  margin: 0;
}

.container {
  max-width: 584px;
  margin: 0 auto;
}

.primary-title {
  font-size: 4.4rem;
  font-weight: 900;
  color: var(--primary-text-color);
  margin: 0;
}

.secondary-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--tertiary-text-color);
}

.primary-para,
.bg-button {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--secondary-text-color);
  margin-bottom: 0;
}

.pink-mood {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FF3998;
}

.bg-button {
  position: relative;
  padding: 10px 25px;
  margin-top: 18px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  line-height: normal;
}

.bg-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #FF3998, #FF8139, #FF3939) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

header {
  margin-top: 31px;
}

header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content-wrapper nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 13px;
}

header .content-wrapper nav ul li {
  display: flex;
}

header .content-wrapper nav ul li:last-child {
  padding-right: 0;
}

header .content-wrapper nav ul li:not(:last-child) a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  text-transform: none;
}

header .content-wrapper nav ul li:last-child a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: none;
  padding-bottom: 0;
  letter-spacing: normal;
}

header .hero-section {
  background-image: url(../img/hero-image.png), url(../img/hero-graphic.svg);
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: right 72px center, right 45px center;
  display: flex;
  margin-top: 83px;
}

header .hero-section .text-block {
  width: 43%;
}

header .hero-section .text-block .reminder {
  padding-bottom: 10px;
}

section.sign-up {
  margin-top: 83px;
}

section.sign-up .content-wrapper {
  background: rgb(255, 57, 152);
  background: linear-gradient(45deg, rgb(255, 57, 152) 1%, rgb(255, 57, 57) 27%, rgb(255, 129, 57) 75%, rgb(57, 255, 160) 100%);
  padding: 70px 30px 30px;
  border-radius: 7px;
}

section.sign-up .content-wrapper p {
  color: var(--tertiary-text-color);
}

section.partners {
  margin-top: 57px;
}

section.partners .partner-list {
  display: flex;
  justify-content: space-between;
}

section.collection {
  margin-top: 53px;
}
section.collection .secondary-title {
  color: #ffffff;
}
section.collection .primary-para {
  color: var(--quaternary-text-color);
}
section.collection span {
  position: relative;
}
section.collection span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 19.35px;
  border-bottom: 1px solid var(--quaternary-text-color);
}
section.collection .collection-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 127px 1fr;
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-top: 25px;
  overflow: hidden;
}
section.collection .collection-list .collection-list-item {
  display: flex;
  justify-content: center;
  background-color: var(--tertiary-text-color);
  border-top-right-radius: 7.3px;
  border-top-left-radius: 7.3px;
  padding-top: 10px;
}
section.collection .collection-list .collection-list-item img {
  display: block;
  width: 70px;
}
section.collection .collection-list .collection-list-item:nth-of-type(2n) {
  background-color: var(--quaternary-text-color);
}/*# sourceMappingURL=style.css.map */